<div class="filters-container">
    <div class="filters-header">
        <h2>Filters</h2>
        <button class="collapse-filters-btn">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.90919 1.01861L1.12124 6.51335L6.88861 12.0297" stroke="black" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M6.90919 1.01861L1.12124 6.51335L6.88861 12.0297" stroke="black" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <div class="filters">
        <div class="price-range">
            <h3 class="filter-title">Multi range</h3>
            <div class="prices">
                <div>
                    <label>
                        <input type="radio" name="price" />
                        10$
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="price" />
                        10-100$
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="price" />
                        100-500$
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="price" />
                        500$
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="price" />
                        All
                    </label>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="category">
            <h3 class="filter-title">Category</h3>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Cell Phones
                </label>
                <span class="amount">1920</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Computers & Tablets
                </label>
                <span class="amount">1820</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Cell Phone Accessories
                </label>
                <span class="amount">462</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Appliances
                </label>
                <span class="amount">6556</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Audio
                </label>
                <span class="amount">120</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    iPhone Accessories
                </label>
                <span class="amount">353</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Cameras & Camcorders
                </label>
                <span class="amount">45</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    iPhone Cases & Clips
                </label>
                <span class="amount">456</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    TV & Home Theater
                </label>
                <span class="amount">55</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Small Kitchen Appliances
                </label>
                <span class="amount">10</span>
            </div>
        </div>
        <div class="divider"></div>
        <div class="brand">
            <h3 class="filter-title">Brand</h3>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Insigni
                </label>
                <span class="amount">220</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Samsung
                </label>
                <span class="amount">120</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Apple
                </label>
                <span class="amount">320</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    HP
                </label>
                <span class="amount">32</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Sony
                </label>
                <span class="amount">520</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Metra
                </label>
                <span class="amount">55</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Dyne
                </label>
                <span class="amount">120</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    LG
                </label>
                <span class="amount">98</span>
            </div>
            <div class="form-checkbox-category">
                <label><input type="checkbox" name="category" />
                    Canon
                </label>
                <span class="amount">99</span>
            </div>
            <div class="form-checkbox-category">
                <label>
                    <input type="checkbox" name="category" />
                    Speck
                </label>
                <span class="amount">575</span>
            </div>
        </div>
    </div>
    <div class="btn">
        <button class="btn-filters">
            <span class="button-title">clear all filters</span>
        </button>
    </div>
</div>