@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 486px;
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;    
}

.image {
    text-align: center;
    padding: 20px;
}

.container-rating-price {
    display: flex;
    padding: 20px;
}

.rating {
    background: #6F64F8;
    border-radius: 3px;
    width: 65px;
    height: 30px;
    text-align: center;
}

.product-price {

}

.name-description-container {
    padding: 0 24px;
}

.product-name {
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
}

.product-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #2C2C2C;
}

.product-name, .product-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.wish-add {
    margin-top: auto;
}

.wishlist-button {

}

.add-button {
    background: #6F64F8;
    border-radius: 0px 0px 8px 0px;
}

.wishlist-button, .add-button {
    width: 50%;
    height: 45px;
    border: 0;
    outline: 0;
}